<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".di.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_app_image"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_app_image"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.statistics.daily_statistics.DailyStatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.statistics.dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.teleworking.TeleworkingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.contacts.contact_selected.ContactSelectedWithAppsActivity"
            android:exported="false" />
        <activity
            android:name="com.yellowtwigs.knockin.ui.add_edit_contact.edit.EditContactActivity"
            android:exported="false" />
        <activity android:name="com.yellowtwigs.knockin.ui.add_edit_contact.vip_settings.VipSettingsActivity" />
        <activity
            android:name=".ui.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.first_launch.start.StartActivity" />
        <activity android:name=".ui.first_launch.first_vip_selection.FirstVipSelectionActivity" />
        <activity android:name=".FirstLaunchActivity" />
        <activity android:name=".ui.groups.manage_group.ManageGroupActivity" />
        <activity android:name=".ui.contacts.multi_channel.MultiChannelActivity" />
        <activity
            android:name=".ui.notifications.NotificationAlarmActivity"
            android:turnScreenOn="false"
            tools:targetApi="o_mr1" />
        <activity android:name=".ui.groups.list.GroupsListActivity" />
        <activity android:name=".ui.first_launch.ImportContactsActivity" />
        <activity
            android:name=".ui.contacts.list.ContactsListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.notifications.history.NotificationsHistoryActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.cockpit.CockpitActivity" />
        <activity android:name=".ui.HelpActivity" />
        <activity android:name=".ui.settings.ManageMyScreenActivity" />
        <activity android:name=".ui.notifications.settings.NotificationsSettingsActivity" />
        <activity
            android:name="com.yellowtwigs.knockin.ui.add_edit_contact.add.AddNewContactActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.yellowtwigs.knockin.ui.EditContactDetailsActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".ui.premium.PremiumActivity" />
        <receiver android:name=".ui.notifications.sender.NotificationSender" />
        <service
            android:name=".model.service.NotificationsListenerService"
            android:exported="false"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>